@use './var' as v;
@use 'sass:color';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin buttons($bg: v.$main-color, $color: white) {
    background-color: $bg;
    color: $color;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        background-color: color.adjust($bg, $lightness: -10%);
    }
}

@mixin respond($bp) {
    @media (max-width: #{$bp}px) {
        @content; // 자유롭게 맘대로 넣을 수 잇는 자리
    }
}

@mixin card {
    background-color: white;
    border-radius: v.$radius;
    box-shadow: v.$shadow-soft;
    overflow: hidden;
    transition: all 0.3s linear;

    &:hover {
        transform: translateY(-3px);
        box-shadow: v.$shadow-hard;
    }
}