// 색상
$main-color : darkblue;
$sub-color: skyblue;
$text-dark: #333;
$text-right: gray;

// size
$radius: 12px;
$gap: 15px;

// 반응형
$bp-sm: 520;
$bp-md: 768;
$bp-lg: 1024;
$bp-xl: 1280;

// 그림자
$shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-hard: 0 8px 20px rgba(0, 0, 0, 0.15);