@use '../assets/scss/var' as v;
@use '../assets/scss/mixin' as m;

.videoslider {
    position: relative;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;

    .video {
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .overlay {
        z-index: 5;
        position: absolute;
        inset: 0;
        @include m.flex-column-center;
        gap: 20px;
        color: white;
        backdrop-filter: blur(1.1px);
        opacity: 0;
        transform: translateY(50px);
        animation: fadeUp 1s ease-out forwards 0.3s;

        .title {
            font-size: clamp(22px, 4vw, 56px);
            text-shadow: v.$shadow-hard;
            letter-spacing: 0.2px;
            line-height: 1.2;
            color: #333;
        }

        .subtitle {
            font-size: clamp(12px, 2vw, 20px);
            line-height: 1.2;
            text-shadow: v.$shadow-soft;
            color: black;
        }
    }

    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}