@use '../assets/scss/mixin' as m;

.h2 {
    text-align: center;
    padding-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.ul {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.outBox {
    @include m.flex-center;
    gap: 10px;
    transition: all 0.4s linear;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(140, 114, 115, 0.3);

    &:hover {
        transform: translateY(-2px);
        box-shadow: 1px 1px 10px rgba(140, 114, 115, 0.8);
    }
}

.img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.btns {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: #8C7273;
        ;
        color: white
    }
}


.reBtn {
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    cursor: pointer;

    &:hover {
        background-color: #8C7273;
        ;
        color: white
    }
}

.totalBox {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;

    .totalC {
        margin-bottom: 10px;
    }
}

.clear {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    cursor: pointer;
    margin-top: 25px;

    &:hover {
        background-color: #8C7273;
        ;
        color: white
    }
}

.none {
    text-align: center;
    margin-top: 50px;
}