@use '../assets/scss/mixin' as m;

.h2 {
    text-align: center;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.ul {
    width: 100%;
    @include m.flex-center;
    gap: 50px;
}

.outBox {
    @include m.flex-center;
    gap: 10px;
    transition: all 0.4s linear;
    border-radius: 10px;
    padding: 10px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
}

.img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.btns {
    display: flex;
    gap: 20px;


}

.btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: #555;
        color: white
    }
}


.reBtn {
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    cursor: pointer;

    &:hover {
        background-color: #555;
        color: white
    }
}

.totalBox {
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
}

.clear {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
        background-color: #555;
        color: white
    }
}

.none {
    text-align: center;
    margin-top: 50px;
}