.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .reviewBox {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .reviewCard {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-bottom: 20px;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        transition: all 0.4s linear;
        border-radius: 3px;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }

        .imgBox {
            width: 80px;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding-top: 20px;
            font-size: 18px;
        }

    }
}