.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding-top: 80px;

    .reviewBox {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .reviewCard {
        display: flex;
        align-items: center;
        gap: 30px;
        border-top: 1px solid rgba(140, 114, 115, 0.3);
        border-bottom: 1px solid rgba(140, 114, 115, 0.3);
        transition: all 0.4s linear;
        border-radius: 3px;
        padding: 0 15px 20px;

        &:hover {
            border-right: none;
            transform: translateY(-2px);
            box-shadow: 0 2px 2px rgba(140, 114, 115, 0.2),
                0 -2px 2px rgba(140, 114, 115, 0.2);
        }

        .imgBox {
            width: 80px;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding-top: 20px;
            font-size: 18px;
        }

    }
}