@use '../assets/scss/mixin' as m;

.products {
    width: 100%;
    height: 500px;
    padding-left: 30px;

    h1 {
        text-align: center;
        padding-top: 10px;
    }
}

.gridBox {
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.card {
    width: 300px;
    height: 500px;
    @include m.flex-column-center;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s linear;
    margin-top: 50px;
    box-shadow: 2px 2px 8px rgba(140, 114, 115, 0.2);

    &:hover {
        transform: translateY(-2px);

        box-shadow: 1px 1px 10px rgba(140, 114, 115, 0.8);
    }
}

.imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    @include m.flex-column-center;
}

.btn {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

    &:hover {
        background-color: #8C7273;
        color: white
    }
}

.btnOutBox {
    @include m.flex-center;
    margin-top: 30px;
    gap: 20px;
    margin-bottom: 20px;
}

.btns {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: #8C7273;
        ;
        color: white
    }
}