@use '../assets/scss/mixin' as m;

.products {
    width: 100%;
    height: 500px;
    padding-left: 30px;

    h1 {
        text-align: center;
        margin-bottom: 50px;
        padding-top: 50px;
    }
}

.gridBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.card {
    width: 330px;
    height: 500px;
    @include m.flex-column-center;
    border-radius: 10px;
    transition: all 0.4s linear;
    margin-top: 50px;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }
}

.imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    @include m.flex-column-center;
}

.btn {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

    &:hover {
        background-color: #555;
        color: white
    }
}

.btnOutBox {
    @include m.flex-center;
    margin-top: 30px;
    gap: 20px;
    margin-bottom: 20px;
}

.btns {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: #555;
        color: white
    }
}