.map {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    flex-shrink: 0;
}

.weather {
    margin: 20px auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .time {
        font-size: 18px;
    }

    .wBox {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-weight: 550;
        }

        .desc {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-right: 50px;
        }
    }


}