.map {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(140, 114, 115, 0.5);
}

.weather {
    margin: 180px auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .textBox {
        width: 300px;
        border: 1px solid rgba(140, 114, 115, 0.8);
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;
        box-shadow: 1px 1px 2px rgba(140, 114, 115, 0.5);

        .today {
            padding: 15px 25px;
            background-color: #fff;
            color: #8C7273;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 3px;
            position: absolute;
            top: -35px;
        }

        .time {
            font-size: 18px;
            text-align: center;
            line-height: 1.8;
        }

        .wBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            h3 {
                font-weight: 500;
            }

            .desc {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-right: 50px;
            }
        }
    }

}